* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #1a1a1a;
    font-family: 'Poppins', sans-serif;

}

h1 {
    color: #fffbe6;
}

.woman { 
    color: #b39700;
    font-weight: 600;
  
}
.navbar {
    background-color: #fffbe6;
    border-color: #b39700;
    
}
.nav-link {
    color: #665600;
    font-size: 1em;
    letter-spacing: .75px;
}
.navbar-toggler  {
    background-color: #665600 !important;


    
}

.navbar-toggler-icon {
    background-color: snow;
    stroke: #b39700;
}

    



